// Colors
$primary-color: #4a90e2; // Light Blue
$secondary-color: #fdb8c0; // Pink
$white-color: #ffffff;
$text-color: #333333;
$background-color: #f9f9f9;
$footer-background: #4a90e2;
$button-bg-color: $secondary-color;
$button-hover-bg-color: darken($secondary-color, 10%);

// Fonts
$heading-font: "Comfortaa", cursive;
$main-font: "Nunito", sans-serif;

// Breakpoints
$tablet-width: 768px;
$desktop-width: 1440px;
